

body {
color:#000;
font-family: 'PT Sans Narrow ',Arial,sans-serif;
font-size:14px;
}

a {
color:#ddd;
text-decoration:none;
}

a:hover {
color:#00c6e3;
}



/* content holder */
#content{
background:url(../images/content_mid_bg.png) 0 0 repeat-y;
padding:0 30px 1px 30px; 
position:relative;
min-height: 770px;
}


/*******
*******/
#gallery{width:550px;position:relative;overflow:hidden;margin:0 auto;}
#frame{width:440px;position:relative;height:310px;background-color:#e2e3e3;margin:10px auto;}
#frame a{width:100%;float:left;text-align:center;min-height:280px;cursor:default;margin:0;padding:3px 0;}
#frame img{margin:0 auto;padding:0;}
#thumb-wrapper{height:60px;position:relative;overflow:hidden;margin:0 auto;}
#thumbs{position:relative;width:100%;float:left;margin:0;padding:0;}
#thumb-controls{width:550px;height:60px;position:absolute;bottom:10px;left:0;margin:0 auto;}
#thumbs li{float:left;list-style:none;margin:0;padding:0 5px;}
img.selected{border:2px solid #818181 !important;}
.frame-arrows{height:150px;width:35px;cursor:pointer;text-indent:-9999px;position:absolute;top:16%;}
span#prev{left:20px;background:url("../images/next_prev_arrow.png") no-repeat left 0;}
span#prev:hover{background:url("../images/next_prev_arrow.png") no-repeat left -150px;}
span#next{right:13px;background:url("../images/next_prev_arrow.png") no-repeat right 0;}
span#next:hover{background:url("../images/next_prev_arrow.png") no-repeat right -150px;}
.thumb-arrows{position:absolute;top:33%;text-indent:-9999px;cursor:pointer;height:30px;width:15px;}
span#thumb-prev{left:35px;background:url("../images/small_next_prev_arrow.png") no-repeat 0 0;}
span#thumb-prev:hover{background:url("../images/small_next_prev_arrow.png") no-repeat 0 -30px;}
span#thumb-next{right:35px;background:url("../images/small_next_prev_arrow.png") no-repeat right 0;}
span#thumb-next:hover{background:url("../images/small_next_prev_arrow.png") no-repeat right -30px;}
span#blow-up{position:absolute;right:65px;bottom:105px;background:url(../images/expand_icon.png) 0 0;height:33px;width:33px;text-indent:-9999px;opacity:.50;filter:alpha(opacity=50);cursor:pointer;}
span#blow-up:hover{opacity:1px;filter:alpha(opacity=100);}
#img-caption{width:450px;text-align:right;border-bottom:1px dotted #d9d9d9;height:20px;margin:0 auto 10px;}
#img-caption p{font-family:'Droid Sans',Arial,Helvetica,sans-serif;color:#888;font-size:11px;}
ul#mycarousel li a img{border:2px solid #Fff;}